{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
	<title>Сервіс Обліку Студентів - {% block meta_title %}{% endblock meta_title %}</title>
	<meta name="description"
		  value="Система Обліку Студентів Навчального Закладу">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ PORTAL_URL }}{% static 'css/main.css' %}">

	{% block extra_css %}{% endblock extra_css %}
</head>
<body>

	<!-- Star Container -->
	<div class="container">

		<!-- Star Header -->
		<div class="row" id="header">

			<!-- Logo -->
			<div class="col-xs-8">
				<h1>{% block logo %}Сервіс Обліку Студентів{% endblock logo %}</h1>
			</div>

			<!-- Groups Selector -->
			<div class="col-xs-4" id="group-selector">
				{% block group_menu %}
				<strong>Група:</strong>
				<select>
					<option value="">Усі Студенти</option>
					<option value="">МтМ - 21, Подоба Віталій (No 254)</option>
					<option value="">МтМ - 22, Корост Андрій (No 2123)</option>
				</select>
				{% endblock group_menu %}
			</div>
		</div>
		<!-- End Header -->

		<!-- Star SubHeader -->
		<div class="row" id="sub-header">
			<div class="col-xs-12">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" {% if request.path == '/' %}class="active"{% endif %}><a href="{% url "home" %}">Студенти</a></li>
					<li role="presentation" {% if '/journal' in request.path %}class="active"{% endif %}><a href="/journal">Відвідування</a></li>
					<li role="presentation" {% if '/groups' in request.path %}class="active"{% endif %}><a href="{% url "groups" %}">Групи</a></li>
					<li role="presentation" {% if '/exams' in request.path %}class="active"{% endif %}><a href="{% url "exams" %}">Іспити</a></li>
				</ul>
			</div>
		</div>
		<!-- End SubHeader -->

		<!-- Star Content Columns -->
		<div class="row" id="content-columns">
			<div class="col-xs-12" id="content-column">

				{% block status_message %}
				{% if request.GET.status_message %}
				<div class="alert alert-warning" role="alert">{{ request.GET.status_message }}</div>
				{% endif %}
				{% endblock %}

				<h2>{% block title %}{% endblock title %}</h2>
				{% block content %}{% endblock content %}

			</div>
		</div>
		<!-- End Content Columns -->

		<!-- Star Footer -->
		<div class="row" id="footer">
			<div class="col-xs-12">
				{% block footer %}&copy; 2014 Сервіс Обліку Студентів{% endblock footer %}
			</div>
		</div>
		<!-- End Footer -->

	</div>
	<!-- End Container -->

	
	<!-- JavaScript Section -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	{% block extra_js %}{% endblock extra_js %}
</body>
</html>