{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Журнал{% endblock meta_title %}

{% block title %}Облік Відвідування{% endblock title %}

{% block content %}

<!-- Start Students Listing -->
<h5><a href="">&larr;</a> Вересень 2016 <a href="">&rarr;</a></h5>
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th>#</th>
							<th>Cтудент</th>
							<th>Чт<br>1</th>
							<th>Пт<br>2</th>
							<th>Сб<br>3</th>
							<th>Вс<br>4</th>
							<th>Пн<br>5</th>
							<th>Вт<br>6</th>
							<th>Ср<br>7</th>
							<th>Чт<br>8</th>
							<th>Пт<br>9</th>
							<th>Сб<br>10</th>
							<th>Вс<br>11</th>
							<th>Пн<br>12</th>
							<th>Вт<br>13</th>
							<th>Ср<br>14</th>
							<th>Чт<br>15</th>
							<th>Пт<br>16</th>
							<th>Сб<br>17</th>
							<th>Вс<br>18</th>
							<th>Пн<br>19</th>
							<th>Вт<br>20</th>
							<th>Ср<br>21</th>
							<th>Чт<br>22</th>
							<th>Пт<br>23</th>
							<th>Сб<br>24</th>
							<th>Вс<br>25</th>
							<th>Пн<br>26</th>
							<th>Вт<br>27</th>
							<th>Ср<br>28</th>
							<th>Чт<br>29</th>
							<th>Пт<br>30</th>
				<th>Сб<br>31</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
							<td><a title="Редагувати" href="#">Ячменєвик<br>Олег</a></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
				<td><input type="checkbox" name="" value=""></td>
			</tr>

			<tr>
				<td>2</td>
							<td><a title="Редагувати" href="#">Віталій<br>Подоба</a></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
				<td><input type="checkbox" name="" value=""></td>
			</tr>

			<tr>
				<td>3</td>
							<td><a title="Редагувати" href="#">Іванов<br>Андрій</a></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
							<td><input type="checkbox" name="" value=""></td>
				<td><input type="checkbox" name="" value=""></td>
				<td><input type="checkbox" name="" value=""></td>
		 	</tr>
	</tbody>
</table>
<!-- End Students Listing -->

{% endblock content %}
