/* Global Styles */
h1, h2, h3, h4, h5, h6{
	font-weight: bold;
}

.alert{
	margin-top: 10px;
}

#footer{
	border-top: 1px solid #dddddd;
	padding-top: 10px;
}

/* Groups Selector */
#group-selector{
	margin-top: 30px;
}

#group-selector select{
	margin: 0;
	width: 85%;
	background-color: #fff;
	border: 1px solid #ccc;
	height: 30px;
	line-height: 30px;
	color: #555;
}


/* Add student button and base title in one row */
#base_button{
	display: inline-block;
	margin-left: 40px;
	margin-bottom: 10px;
}

#base_title{
	display: inline-block;
}


h5{
	text-align: center;
}

.form-group input, select.form-control{
	width: 300px;
}

textarea.form-control{
	width: 300px;
	height: 150px;
}


span.change{
	display: inline-block;
	margin-left: 170px;
	margin-top: 10px;
	margin-bottom: 30px;
}

#photo{
	display: inline-block;
	margin-left: 10px;
}

.delete_photo{
	margin-left: 15px;
}


/* Forn Styles */
textarea,
select,
input {
	max-width: 300px;
}

.form-group .btn-primary {
	max-width: 100px;
}

div.alert > ul {
	list-style-type: none;
}

/* Journal Table Styles */
td.day-box,
th.day-header {
	padding: 4px !important;
	vertical-align: middle; !important;
	text-align: center;
}


#ajax-progress-indicator {
	display: none;
}

#ajax-error {
	display: none;
}

/* AJAX loader */
.ajax-loader{
	display: none;
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background:rgba(0,0,0,0.1);
}   

.ajax-loader img{
    position:absolute;
    left:50%;
    top:50%;
    margin-left: -65px;
    margin-top: -20px;
}

.ajax-loader-modal {
	position: relative;
	left: -7%;
	width: 130px;
	height: 20px;
	margin: auto;
}

.ajax-loader-modal img {
	display: none;
}


/* glyphicon for birthday field */
.input-group-addon { width: 13%; }

/* Language switcher */
#lang-select {
	margin-top: 15px;
}

#lang-select button {
	padding: 0;
	margin: 0;
}

.lang-select-form {
	display: inline-block;
}


/* User's Toolbar */
#user-toolbar {
	margin-top: 30px;
	text-align: right;
}
